<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @personal_skill.name %>
</p>

<%= link_to 'Edit', edit_personal_skill_path(@personal_skill) %> |
<%= link_to 'Back', personal_skills_path %>
